@charset "utf-8";

/*--画面840px以上------*/



body {

	font-family: "M PLUS 1p", sans-serif;

}

/*--------
リンクの下線を基本なし
-------- */
a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

/*--ここ以降を好きに編集する事----------------------------------------*/

/*--メディアクエリ画面840px以下は適用------*/
@media screen and (max-width: 840px) {








	/*-メディアクエリ用の括弧 削除厳禁---*/
}

/* memo----- 
border-radius:1%/5%;
border-radius:水平/垂直;
border-radius:左上 右上 右下 左下 / 左上 右上 右下 左下;
border-radius:全部;



 








memoの閉じ*/